<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715641090098-vosfol6i53qgflbjuttaetrs3hi7lhfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715641090098-vosfol6i53qgflbjuttaetrs3hi7lhfm</string>
	<key>API_KEY</key>
	<string>AIzaSyD44NFQIvzs8TNSDdDHYwRRdXJIg1ervAk</string>
	<key>GCM_SENDER_ID</key>
	<string>715641090098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.himanshu.chillyfy</string>
	<key>PROJECT_ID</key>
	<string>ios-chillyfy</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-chillyfy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715641090098:ios:203ebb277b47e835afcc2b</string>
</dict>
</plist>